.pg_wrapper ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 20px 0;
    font: 300 14px/1.2 MuseoSans;
    text-align: center;
    color: #444e5b;
}
  /* pg-item */
.pg_wrapper ul li {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 3.5px;
    width: 33px;
    height: 33px;
    border-radius: 6px;
    background-color: #f2f3f5;
    overflow: hidden;
    transition: all 0.2s;
}
  /* pg-item a */
.pg_wrapper ul li a {
    position: absolute;
    left: 0;
    top: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
  /* pg-item:hover */
.pg_wrapper ul li:hover {
    border: 1px solid #444e5b;
    background-color: #fff;
}
  /* pg-item__prev */
.pg_wrapper ul li.previous {
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../../assets/img/dp/left.svg);
}
  
.pg_wrapper ul li.next {
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../../assets/img/dp/right.svg);
}
  
.pg_wrapper ul li.selected,
.pg_wrapper ul li.disabled {
    border: 1px solid #444e5b !important;
    background-color: #fff;
    opacity: 0.6;
}