.bottom-text {
    margin: 50px auto 42px;
    text-align: center;
}
  
.bottom-text__title {
    margin: 0 auto 1em;
    font: 600 30px/1.2 MuseoSans;
}
  
.bottom-text__main {
    margin: 0 auto 0;
    max-width: 600px;
    font: 300 16px/1.2 MuseoSans;
}
  
.bottom-text__main > * {
    margin-bottom: 1em;
}
  
.bottom-text__main > :last-child {
    margin-bottom: 0;
}
  
.bottom-text__main > * > * {
    font-weight: 600;
}
  
.bottom-text__main > * a:hover {
    text-decoration: underline;
}

@media (max-width: 575px) {
    .bottom-text__title {
        font-size: 20px;
    }
}